---
import { Picture } from '@astrojs/image/components';
import WorkLayout from '../layouts/WorkLayout.astro'
import '@styles/work.css'
import image1 from '../images/mg-screen1.png'
import image2 from '@images/mg-screen2.png'
import mgHero from '@images/mg-hero.jpg'
import witHero from '@images/wit-hero.jpg'


const title = "Milly Grace"
---

<WorkLayout title={title}>
	<section class="hero">
		<Picture src={mgHero} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960, 1024, 1120, 1180, 1200, 1280, 1360, 1400, 1500, 1600]} sizes="100vw" formats={['avif', 'jpeg', 'png', 'webp']} alt="Milly Grace hero image" />
	</section>
	<section class="content">
		<h1>Classic styling, modern underpinnings</h1>
		<svg width="211" height="41" viewBox="0 0 211 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
			<g clip-path="url(#clip0_16_15)">
			<path d="M36.6763 30.4723V31.4115H27.9018V30.4723C29.35 30.387 29.8182 29.533 29.4826 27.8689L25.6061 7.89034L17.5976 31.4017H15.9354L7.15481 7.59675L4.00422 27.9067C3.79142 29.5281 4.17567 30.2968 5.79414 30.4649V31.4042H0.0012207V30.4649C1.61969 30.2932 2.13161 29.5683 2.38697 27.9067L5.87925 5.24804C6.13583 3.66437 5.92303 2.60331 4.29848 2.47418V1.53616H9.70837L18.1436 25.0086L26.152 1.53616H31.1375V2.47418C29.6467 2.60331 29.1786 3.4987 29.5191 5.2919L34.1617 27.9506C34.5046 29.5757 35.1016 30.3017 36.6763 30.4723Z" fill="currentcolor"/>
			<path d="M47.2833 30.4723V31.4115H38.8067V30.4723C40.3875 30.3504 40.8094 29.5757 40.8094 27.914V15.7928C40.8094 14.1288 40.3838 13.3564 38.8067 13.2346V12.2966L44.5996 10.8031H45.2806V27.9116C45.2842 29.5757 45.7098 30.3443 47.2833 30.4723ZM39.7442 4.9508C39.7185 4.35455 39.8715 3.76424 40.1835 3.25585C40.4955 2.74746 40.9523 2.34427 41.495 2.09817C42.0377 1.85208 42.6415 1.77436 43.2287 1.875C43.8159 1.97565 44.3595 2.25006 44.7897 2.66291C45.2199 3.07576 45.5168 3.60815 45.6424 4.19155C45.768 4.77494 45.7164 5.38263 45.4942 5.93639C45.2721 6.49015 44.8896 6.96463 44.396 7.29875C43.9024 7.63286 43.3203 7.81132 42.7246 7.81115C42.3367 7.83907 41.9472 7.7852 41.5814 7.65303C41.2156 7.52085 40.8814 7.31331 40.6006 7.04378C40.3198 6.77426 40.0985 6.44874 39.951 6.08824C39.8034 5.72773 39.733 5.34025 39.7442 4.9508Z" fill="currentcolor"/>
			<path d="M58.0471 30.471V31.4103H49.528V30.471C51.1464 30.3492 51.5732 29.5744 51.5732 27.9128V4.99343C51.5732 3.32936 51.1476 2.60331 49.528 2.47418V1.53616L55.3209 -0.0012207H56.0018V27.9128C56.003 29.5756 56.4286 30.3492 58.0471 30.471Z" fill="currentcolor"/>
			<path d="M68.845 30.471V31.4103H60.3258V30.471C61.9443 30.3492 62.3711 29.5744 62.3711 27.9128V4.99343C62.3711 3.32936 61.9455 2.60331 60.3258 2.47418V1.53616L66.12 -0.0012207H66.8009V27.9128C66.7997 29.5756 67.2253 30.3492 68.845 30.471Z" fill="currentcolor"/>
			<path d="M91.0803 11.1831V12.1212C89.8461 12.2929 89.4619 12.8521 88.9086 14.1275L81.1604 32.4774C78.2202 38.8791 76.8583 40.3738 74.4287 40.883C72.8153 41.2122 71.1373 40.9068 69.7424 40.0303C69.4933 39.8291 69.288 39.5788 69.1393 39.295C68.9905 39.0112 68.9014 38.6999 68.8775 38.3802C68.8536 38.0605 68.8953 37.7394 69.0001 37.4365C69.105 37.1336 69.2707 36.8555 69.487 36.6193C69.6892 36.393 69.9471 36.2236 70.2349 36.128C70.5227 36.0324 70.8305 36.0139 71.1277 36.0744C71.4248 36.1348 71.701 36.2722 71.9288 36.4727C72.1566 36.6732 72.328 36.93 72.426 37.2175C72.6826 38.1128 73.0231 39.3932 74.599 39.18C75.8332 39.0582 77.4529 38.1128 79.7961 32.4798L79.9675 32.0547L72.2132 14.856C71.4897 13.1907 71.0641 12.3368 69.487 12.1236V11.1856H77.7934V12.1236C76.4728 12.2089 76.3877 13.3187 76.8996 14.56L82.1393 26.8931L87.2938 14.56C87.7619 13.4076 87.678 12.2552 86.3563 12.1236V11.1856L91.0803 11.1831Z" fill="currentcolor"/>
			<path d="M131.506 18.9066V19.8458C129.925 19.9676 129.504 20.6986 129.504 22.3651V28.126C126.329 30.7811 122.256 32.1106 118.13 31.8391C109.312 31.582 102.112 25.7785 102.112 16.475C102.112 7.17158 108.886 1.11099 117.873 1.11099C121.606 1.13073 125.261 2.17887 128.439 4.14068V10.2H127.545C126.267 4.86673 122.474 2.30484 117.874 2.30484C111.23 2.30484 107.097 8.28015 107.097 16.4738C107.097 24.6675 111.232 30.2578 117.874 30.6854C119.184 30.8034 120.503 30.6564 121.755 30.2531C123.006 29.8498 124.164 29.1985 125.159 28.3379V22.3687C125.159 20.7034 124.734 19.9774 123.158 19.8495V18.9102L131.506 18.9066Z" fill="currentcolor"/>
			<path d="M148.93 16.5603C148.585 16.7159 148.206 16.7799 147.829 16.7462C147.452 16.7125 147.09 16.5822 146.778 16.3678C146.465 16.1535 146.213 15.8623 146.046 15.5222C145.878 15.1822 145.801 14.8047 145.821 14.426C145.65 12.8423 144.799 12.5475 143.606 12.7607C141.903 13.0592 140.112 15.364 140.112 18.4376V27.9554C140.112 29.6195 140.539 30.3455 142.115 30.4735V31.4127H133.637V30.4735C135.218 30.3516 135.64 29.6207 135.64 27.9554V15.7916C135.64 14.1275 135.214 13.3552 133.637 13.2334V12.2954L139.304 10.8018H139.985V14.4297C140.465 13.3494 141.248 12.4318 142.238 11.7879C143.229 11.1441 144.384 10.8016 145.565 10.8018C146.512 10.701 147.467 10.9024 148.293 11.3773C149.119 11.8522 149.775 12.5764 150.166 13.4466C150.375 14.0272 150.365 14.6644 150.137 15.238C149.91 15.8116 149.48 16.2819 148.93 16.5603Z" fill="currentcolor"/>
			<path d="M170.576 30.3017C170.173 30.8027 169.66 31.2026 169.075 31.4695C168.491 31.7364 167.853 31.8629 167.211 31.8391C166.752 31.8902 166.287 31.843 165.847 31.7004C165.408 31.5579 165.003 31.3234 164.661 31.0123C164.318 30.7013 164.046 30.321 163.861 29.8964C163.677 29.4719 163.584 29.0129 163.59 28.5499C163.018 29.5865 162.168 30.4431 161.138 31.0239C160.107 31.6048 158.935 31.887 157.754 31.8391C154.43 31.8391 150.809 30.387 150.596 26.6313C150.297 22.1933 153.748 20.1869 158.014 19.8093C160.655 19.5961 162.571 19.4243 163.594 19.3391V17.675C163.594 13.9193 162.7 11.9129 159.76 11.6997C159.348 11.6317 158.926 11.6549 158.524 11.7678C158.122 11.8807 157.749 12.0806 157.432 12.3532C157.116 12.6259 156.862 12.9647 156.69 13.346C156.518 13.7273 156.432 14.1417 156.437 14.56C156.522 16.8637 154.988 17.5044 153.625 16.9964C153.35 16.8639 153.106 16.6737 152.91 16.4385C152.714 16.2034 152.571 15.9289 152.49 15.6335C152.41 15.3382 152.393 15.0289 152.442 14.7266C152.491 14.4243 152.604 14.1361 152.774 13.8815C153.883 11.4901 157.076 10.808 159.632 10.808C163.594 10.808 168.023 12.1309 168.023 18.4473V28.5195C168.023 30.0556 169.215 30.3115 170.153 29.5854L170.576 30.3017ZM163.59 24.5408V20.3197C162.951 20.405 161.888 20.4915 160.226 20.7047C156.732 21.131 154.815 23.2629 154.858 25.9539C154.805 26.5271 154.879 27.1049 155.074 27.6464C155.269 28.1878 155.581 28.6795 155.987 29.0865C156.394 29.4936 156.884 29.8059 157.425 30.0014C157.965 30.1969 158.542 30.2708 159.114 30.2177C161.848 30.1312 163.59 27.9944 163.59 24.5408Z" fill="currentcolor"/>
			<path d="M189.827 26.9723C189.055 28.4694 187.88 29.7193 186.433 30.5797C184.987 31.4401 183.329 31.8765 181.648 31.8391C180.235 31.866 178.832 31.6013 177.525 31.0615C176.219 30.5216 175.038 29.7181 174.055 28.7011C173.072 27.6841 172.308 26.4752 171.812 25.1498C171.316 23.8244 171.097 22.4108 171.169 20.997C171.142 19.6318 171.394 18.2754 171.909 17.0113C172.424 15.7472 173.193 14.6021 174.166 13.6466C175.14 12.6911 176.299 11.9453 177.571 11.4553C178.843 10.9652 180.202 10.7412 181.564 10.797C185.142 10.797 187.867 11.992 189.145 14.1263C189.875 15.3628 189.785 17.3278 188.165 17.8821C186.845 18.3511 185.141 17.4971 185.269 15.1496C185.39 12.9739 183.822 11.5657 181.436 11.7788C178.239 12.0773 175.259 15.4493 175.557 20.997C176.025 30.4296 185.528 31.325 189.23 26.5021L189.827 26.9723Z" fill="currentcolor"/>
			<path d="M210.999 20.6133H196.346C196.34 20.7431 196.354 20.8731 196.389 20.9982C196.858 30.4308 206.443 31.3262 210.148 26.5033L210.745 27.0162C209.922 28.4956 208.716 29.7248 207.254 30.5738C205.791 31.4228 204.127 31.8599 202.437 31.8391C201.025 31.8626 199.624 31.5956 198.319 31.0545C197.014 30.5135 195.834 29.7099 194.852 28.6936C193.87 27.6773 193.106 26.4698 192.609 25.1459C192.111 23.8221 191.89 22.41 191.959 20.997C191.959 14.5088 196.346 10.797 202.011 10.797C208.189 10.797 211.086 15.107 211 20.3562L210.999 20.6133ZM196.388 19.0771H206.913C207.035 15.2788 205.464 11.6936 201.928 11.7374C198.944 11.7801 196.687 14.5941 196.388 19.0771Z" fill="currentcolor"/>
			</g>
			<defs>
			<clipPath id="clip0_16_15">
			<rect width="211" height="41" fill="currentcolor"/>
			</clipPath>
			</defs>
		</svg>

		<div class="bodyContent">
			<div class="text">
				<p>For jewellery startup Milly Grace, it was important to give them a classic look whilst enabling ultimate configurability of their Shopify site by using the very latest tools and techniques.</p>
				<h2>Quietly innovative</h2>
				<p>As a small business, it was essential that Milly Grace be able to manage their store, and the content on their website, quickly and efficiently. The theme they had previously made this management harder for them, so it was a high priority to give them a really great management experience, whilst making sure that the front-end was beautiful too.</p>
				<p>To accomplish this, I made use of the very latest tools Shopify had to offer; a new themeing system, and new guidelines for how to achieve flexible page layouts and content, which were brand new to the Shopify ecosystem, were employed in the creation of this theme. The site now gives the editors amazing flexibility - they can change the content and colour scheme of blocks quickly and easily within their management system, and I created a set of colour schemes that used their pallate and worked well together to make sure everything felt tied together no matter what combinations they chose to use.</p>
				<p>The final piece of the puzzle was their blog, called "The Journal". Shopify's blogging system is notoriously bad, and most of the solutions out there in the Shopify ecosystem, such as Shogun, quickly become cost prohibitive for a small business if you want to do things like use custom code. So I set about creating a solution that would give Milly Grace an awesome blogging experience without needing to be tied in to another monthly subscription. I settled on a solution using Sanity to create content, and 11ty to render it on demand using lambda functions on Netlify, then using the Shopify admin API to fire the resulting html back into the Shopify blog. Its the kind of innovation that nobody who visits the site will ever know about, but its a real quality-of-life win for the client, and a truly innovative solution that I don't think anyone else has really done before.</p>
				<h2>The tech</h2>
				<p><span class="title">Front-end:</span> Shopify Dawn base, CSS3, Web Components, Eleventy</p>
				<p><span class="title">Back-end:</span> Shopify & Sanity</p>
				<p><span class="title">Hosting & Cloud functions:</span> Shopify & Netlify</p>
				<h2>My Responsibilities</h2>
				<p>Front-end development, Solution architecture, CMS configuration, Nodejs services, Infrastructure configuration</p>
			</div>
			<div class="images">
				<Picture src={image1} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960]} sizes="(max-width: 960px) 100vw, 420px" formats={['avif', 'jpeg', 'png', 'webp']} alt="Milly Grace website screenshot" />
				<Picture src={image2} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960]} sizes="(max-width: 960px) 100vw, 420px" formats={['avif', 'jpeg', 'png', 'webp']} alt="Milly Grace website screenshot" />
			</div>
		</div>
		<a class="btn" href="https://www.millygrace.co.uk" target="_blank" rel="noopener noreferrer">Visit</a>
		<a class="next" href="/wit">
			<Picture src={witHero} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960, 1024, 1120, 1180, 1200, 1280, 1360, 1400]} sizes="100vw" formats={['avif', 'jpeg', 'png', 'webp']} alt="Go to next project" />
			<span>
				<svg width="41" height="22" viewBox="0 0 41 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_43_25)">
					<path d="M28.816 1L38.914 11L28.816 21M38.213 11H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
					</g>
					<defs>
					<clipPath id="clip0_43_25">
					<rect width="41" height="22" fill="white"/>
					</clipPath>
					</defs>
				</svg>
			</span>
		</a>
	</section>
</WorkLayout>